<h1 class="center">Welcome, <%= current_user.first_name %>!</h1>

<% if @pets.any? %>
	<h3>Your Pets:</h3>
	<div class="col s12 m7">
	<% @pets.each do |pet| %>
    <div class="card horizontal">
      <div class="card-image">
	    	<% if pet.picture? %>
	        <%= cl_image_tag(pet.picture.path, { size:'250x250', crop: :thumb, gravity: :face}) %>
      	<% end %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4 class="light-blue-text text-darken-3"><%= pet.name %></h4>
          <p>Breed: <%= pet.breed %></p>
          <p>Date of Birth: <%= pet.dob %></p>
          <p>Primary Vet: <%= pet.primary_vet %></p>
        </div>
        <div class="card-action">
          <%= link_to 'View Details', pet_path(pet) %> | 
          <%= link_to 'Edit Pet', edit_pet_path(pet) %>
        </div>
      </div>
    </div>
	<% end %>
  </div>
<% else %>
	<h3 class="center">No pets have been added yet.</h3>
<% end %>

<div class="center">
	<%= link_to 'Add Pet', new_pet_path, class: 'btn light-blue darken-3' %>
</div>