<%= form_for [@pet, @medical] do |f| %>

  <div class="col s12 m6">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, required: true %>
  </div>

  <div class="col s12 m6">
    <%= f.label :date %>
    <%= f.date_field :date, required: true %>
  </div>

  <div class="col s12 m6">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="center">
    <%= f.submit class: "btn blue darken-3" %>
  </div>
<% end %>
