<h1> <%= @pet.name %> - <%= @medical.title %> </h1>
<br />

<p> Date: <%= @medical.date.strftime("%B %d, %Y") %> </p>
<p> Notes: <%= @medical.notes %> </p>

<%= link_to "#{@pet.name.pluralize} Medical History", pet_medicals_path(@pet), class: 'btn blue darken-3' %>
<br />
<%= link_to "#{@pet.name.pluralize} Appointments", pet_appointments_path(@pet), class: 'btn blue darken-3' %>
<br />
<%= link_to "My Pets", pets_path, class: 'btn blue darken-3' %>
