<h1> <%= @pet.name %> - <%= @medical.title %> </h1>
<br />

<div class="row center">
  <div class="col s12">
    <div class="card-panel">
      <p> Date: <%= @medical.date.strftime("%B %d, %Y") %> </p>
      <p> Notes: <%= @medical.notes %> </p>
    </div>
  </div>
</div>

<%= link_to "View Medical History", pet_medicals_path(@pet), class: 'btn blue darken-3' %>
<br />
<%= link_to "View Appointments", pet_appointments_path(@pet), class: 'btn blue darken-3' %>
<br />
<%= link_to "My Pets", pets_path, class: 'btn blue darken-3' %>
