<h1> <%= @medical.title %> For <%= @pet.name %> </h1>
<br />

<p> Date: <%= @meidcal.date.strftime("%B %d, %Y") %> </p>
<p> Notes: <%= @meidcal.notes %> </p>

<%= link_to "#{@pet.name.pluralize} Medical History", pet_medicals_path(@pet), class: 'btn' %>
<br />
<%= link_to "My Pets", pets_path, class: 'btn' %>
